@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.content{
	margin-top: 55px;
}

.profile {
	margin-top: 25px;
}

.profilepic {
	height: 128px;
	width: auto;
	border-radius: 64px;
}

footer{
	text-align: center;

}