@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}



footer{
	text-align: center;

}