/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/
.contact-link {
    color: #8CB4D7;
    text-decoration: underline;
}

.top-buffer {
    margin-top: 3em;
}

.officer-photo {
    max-height: 20em;
}

.jumbotron {
    background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url("../img/bg.png") no-repeat center center;
    background-size: 100%;
    color: white;
}

.jumbotron input {
    color: black;
}

#mc-embedded-subscribe {
    color: white;
}
